@tailwind base;
@tailwind components;
@tailwind utilities;

/* 确保 html 和 body 占满全屏 */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}